@(user:User,restaurant:Restaurant,storages:List[Storage],storageForm:Form[Storage])

@import helper._
@main(user){
  <div class="contentBar">
  <div class="announcements">
    @if(storages.size()>0){
        <h3>Склады</h3>

        @for(storage<-storages){
      <div class="span8">
          <span class="span2">
                <h4>@storage.title</h4>
          </span>
          <span class="span5">
           @if(storage.description!=null){
                        @Html(storage.description)
                    }
          </span>
           <span class="span">
                    @form(routes.Storages.storagePage(storage.id)) {
                    <button type="submit" class="btn btn-primary btn-medium courceCellButton">Изменить</button>
                }
           </span>
            </div>

        }
    }
      <div class="span4">
          <br/><br/>
      </div>
      <div class="span4">
      @if(restaurant!=null){
      @form(routes.Storages.addingStoragePage(restaurant.id)) {
        <button type="submit" class="btn btn-primary btn-medium courceCellButton">Добавить</button>
      }

      @form(routes.Restaurants.restaurantPage(restaurant.id)) {
        <button type="submit" class="btn btn-primary btn-medium courceCellButton">Назад</button>
      }
      }
      </div>
 </div>
 </div>
}