@(user:User,category:Category,items:List[Item],itemForm:Form[Item],units:List[UnitType])



@import helper._
@main(user){

      <div class="contentBar">  
<div class="announcements">
    <h3>Продукты</h3>
@if(items.size()>0){

<div class="span8">
@for(item<-items){
<span class="span2">
<h4>@item.title</h4>
    </span>
<span class="span5">
@if(item.description!=null){
@Html(item.description)
}</span>
    <span class="span">
    @form(routes.Items.itemPage(item.id)) {
                           <button type="submit" class="btn btn-primary btn-medium courceCellButton">Изменить</button>

							}
    </span>
}
</div>
}

          <div class="span4">
              <br/><br/>
          </div>
          <div class="span6">
              @form(routes.Items.addingItemPage(category.id)) {
              <button type="submit" class="btn btn-primary btn-medium courceCellButton">
                  Добавить</button>
              }
    @form(routes.Categories.categoryPage(category.id)) {
    <button type="submit" class="btn btn-primary btn-medium courceCellButton">Назад к категории</button>
    }
              </div>
</div>
</div>
}