@(user:User,item:Item,units:List[UnitType])


@import helper._
@main(user){
<div class="container-fluid">
  <div class="row-fluid">
      <div class="span3">
          @form(routes.Modificators.index(item.id)) {
          <button type="submit" class="btn btn-primary btn-medium courceCellButton">Модификаторы</button>
          }
      </div>
      <br/>
    <div class="span9">
	@form(routes.Items.updateItem(item.id)){
<input type="text" name="title" value="@item.title"/>
<textarea name="description">@item.description</textarea>
<input id="startDate" type="text" class="datepicker" name="start_time" value="@item.start_time.format("dd/MM/yyyy HH:mm")">
<input id="endDate" type="text" class="datepicker" name="end_time" value="@item.end_time.format("dd/MM/yyyy HH:mm")">
        <p>
            <select  name="unit_type">
                @for(unit<-units){
                @if(item.unit_type.id==unit.id){
                <option value="@unit.id" selected="selected">@unit.title</option>
                }else{
                <option value="@unit.id">@unit.title</option>
                }
                }
            </select>

            <input type="text" name="price_original" value="@item.price_original" placeholder="Себестоимость">
        </p>
        <p>
            <input type="text" name="price_for_sale" value="@item.price_for_sale" placeholder="Розничная цена">

<input type="submit" value="Сохранить"/>
        </p>
}

</div>
      @form(routes.Items.index(item.category.id)) {
      <button type="submit" class="btn btn-primary btn-medium courceCellButton">Назад к продуктам</button>

      }
</div>
</div>

}
