@(user:User,storage:Storage,foods:List[Food],foodsForm:Form[Food],suppliers:List[Supplier])



@import helper._
@main(null){

      <div class="contentBar">  
<div class="announcements"> 
@if(foods.size()>0){
<h3>My Foods</h3>
<table class="table">
@for(food<-foods){
<tr>
<td>
<div >

  <div class="row" style="margin-left: 20px;">
  <div class="row" style="margin-left: 20px;">
<h4><span class="foodsDescriptionTitle item">@food.getTitle()</span></h4>

</div>
<br/>

<div id="lecturecontent" class="nicTextContainer">
<div>
@if(food.getDescription()!=null){
@Html(food.getDescription())
}
</div>
</div>
</div>
</div>
</td>
<td style="padding: 30px;">
@form(routes.Foods.foodPage(food.getId())) {
                           <button type="submit" class="btn btn-primary btn-medium courceCellButton">Изменить</button>
                          
							}
</td>
</tr>
}
</table>
}

<fieldset>
<legend>Add new foods</legend>
<div class="createForm">
@form(routes.Foods.newFood(storage.id)){
<p>
<input type="text" name="title" foodholder="Name">
</p>
<p>
<textarea rows="10" cols="30" class="ckeditor" name="description" foodholder="Description"></textarea>
</p>
<p>
<input id="startDate" type="text" class="datepicker" name="start_time">
</p>
<p>
<input id="endDate" type="text" class="datepicker" name="end_time">
</p>
    <p>
        <input  type="text" name="price">
    </p>
    <p>
        <select  name="supplier_id">
            @for(supplier<-suppliers){
             <option value="@supplier.id">@supplier.title</option>
            }
        </select>
    </p>
<p>
<button class="btn btn-primary" type="submit">Создать</button>
</p>
}
</div>
    @form(routes.Storages.storagePage(storage.id)) {
    <button type="submit" class="btn btn-primary btn-medium courceCellButton">Назад к складу</button>
    }
</fieldset>
</div>
</div>
}