@(user:User,menu:Menu,categoryForm:Form[Category],categorys:List[Category])
@import helper._
@main(user){

<fieldset>
    <legend>Новая категория</legend>
    <div class="createForm">
        @form(routes.Categories.newCategory(menu.id)){
        <p>
            <input type="text" name="title" placeholder="Название">

            <textarea rows="10" cols="30" class="ckeditor" name="description" placeholder="Описание"></textarea>
        </p>
        <p>
            <input id="startDate" type="text" class="datepicker" name="start_time">

            <input id="endDate" type="text" class="datepicker" name="end_time">
        </p>
        <p>
            <select  name="category_id">
                <option value="0">Вверхний уровень</option>
                @for(category<-categorys){

                <option value="@category.id">@category.title</option>

                }
            </select>

            <button class="btn btn-primary" type="submit">Добавить</button>
        </p>
        }
        @form(routes.Categories.index(menu.id)) {
        <button type="submit" class="btn btn-primary btn-medium courceCellButton">Назад</button>
        }
    </div>
</fieldset>


}