@(user:User,restaurants:List[Restaurant],restaurantForm:Form[Restaurant])

@import helper._
@main(user){
<div class="container-fluid">
    <div class="row-fluid">

      @if(restaurants.size()>0) {
        <h3>Рестораны</h3>
        @for(restaurant<-restaurants){
        <div class="span10">
             <span class="span2"><h4>
                        @restaurant.title</h4></span>

              <span class="span10">
                    @if(restaurant.description!=null) {
                        @Html(restaurant.description)
                    }
              </span>

              <span class="span">

                @form(routes.Restaurants.restaurantPage(restaurant.id)) {
                <button type="submit" class="btn btn-primary btn-medium courceCellButton">Изменить</button>
                }
              </span>
        </div>
        }
      }

        <div class="span4">
            <br/><br/>
        </div>
        <div class="span4">
      @form(routes.Restaurants.addingRestaurantPage()) {
      <button type="submit" class="btn btn-primary btn-medium courceCellButton">
          Добавить</button>
      }
      @form(routes.AdminPanel.index()) {
      <button type="submit" class="btn btn-primary btn-medium courceCellButton">
          Назад</button>
      }
            </div>
  </div>
  </div>
}