@(user:User,restaurant:Restaurant)


@import helper._
@main(null){
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
     
    </div>
    <div class="span9">
	@form(routes.Restaurants.updateRestaurant(restaurant.id)){
<input type="text" name="title" value="@restaurant.title"/>
<textarea name="description">@restaurant.description</textarea>
<input id="startDate" type="text" class="datepicker" name="start_time" value="@restaurant.start_time.format("dd/MM/yyyy HH:mm")">
<input id="endDate" type="text" class="datepicker" name="end_time" value="@restaurant.end_time.format("dd/MM/yyyy HH:mm")">

<input type="submit" value="Сохранить"/>
}

</div>
<div class="span2">
<a href="@routes.Sections.index(restaurant.id)" >Секции</a>
							</div>
</div>
</div>

}
