@(user:User,restaurant:Restaurant,allServices:List[Service],rServices:List[Service])


@import helper._
@main(null){
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">

        </div>
        <div class="span9">
            @form(routes.Restaurants.setServices(restaurant.id)){
                @for(aService<-allServices){
            @if(rServices.contains(aService)){
            <input type="checkbox" checked name="services[]" value="@aService.id">@aService.title</option>
                        }else{
            <input type="checkbox" name="services[]" value="@aService.id">@aService.title</option>

                         }

            }
            <button type="submit" class="btn btn-primary btn-medium courceCellButton">Сохранить</button>
             }
        </div>

    </div>
</div>

}
