@(user:User,item:Item,modificators:List[Modificator],modificatorForm:Form[Modificator],units:List[UnitType])



@import helper._
@main(null){

      <div class="contentBar">  
<div class="announcements"> 
@if(modificators.size()>0){
<h3>My Modificators</h3>
<div class="span8">
@for(modificator<-modificators){
<span class=span2">
<h4>@modificator.title</h4>
    </span>
<span class="span5">
@if(modificator.description!=null){
@Html(modificator.description)
}</span>
    <span class="span">
       @form(routes.Modificators.modificatorPage(modificator.id)) {
                           <button type="submit" class="btn btn-primary btn-medium courceCellButton">Изменить</button>

							}
    </span>
</div>

}
</div>
}
          <div class="span4">
              <br/><br/>
          </div>
          <div class="span6">
              @form(routes.Modificators.addingModificatorPage(item.id)) {
              <button type="submit" class="btn btn-primary btn-medium courceCellButton">
                  Добавить</button>
              }
    @form(routes.Items.itemPage(item.id)) {
    <button type="submit" class="btn btn-primary btn-medium courceCellButton">Назад к продукту</button>
    }
          </div>
</div>
</div>
}