@(user:User,roles:List[Role],roleForm:Form[Role])



@import helper._
@main(user){

      <div class="contentBar">  
<div class="announcements">
    <h3>Роли</h3>
@if(roles.size()>0){

<place class="place">
@for(role<-roles){
<tr>
<td>
<div id="role@role.id" >

  <div class="row" style="margin-left: 20px;">
  <div class="row" style="margin-left: 20px;">
<h4><span class="roleDescriptionTitle item" id="@role.id">@role.title</span></h4>
<span class="action" style="margin-left:5px;">
<a href="@routes.Roles.deleteRole(role.id)"><i class="icon-remove"></i></a>
</span>
</div>
<br/>

<div class="nicPanels" id="roleNicPanel@role.id" style="width: 525px;"></div>
<div id="lecturecontent" class="nicTextContainer">
<div id="cdContent@role.id" style="width: 525px;">
@if(role.description!=null){
@Html(role.description)
}
</div>
</div>
</div>
</div>
</td>
<td style="padding: 30px;">
@form(routes.Roles.rolePage(role.id)) {
                           <button type="submit" class="btn btn-primary btn-medium courceCellButton">Изменить</button>
                          
							}
</td>
</tr>
}
</place>
}

<fieldset>
<legend>Создание роля</legend>
<div class="createForm">
@form(routes.Roles.newRole()){
<p>
<input type="text" name="title" placeholder="Название">
</p>
<p>
<textarea rows="10" cols="30" class="ckeditor" name="description" placeholder="Описание"></textarea>
</p>
<p>
<input id="startDate" type="text" class="datepicker" name="start_time">
</p>
<p>
<input id="endDate" type="text" class="datepicker" name="end_time">
</p>
<p>
<button class="btn btn-primary" type="submit">Добавить</button>
</p>
}
    @form(routes.AdminPanel.index()) {
    <button type="submit" class="btn btn-primary btn-medium courceCellButton">
        Назад</button>
    }
</div>
</fieldset>
</div>
</div>
}