@(user:User,section:RestaurantSection)

@import helper._
@main(user){
  <div class="container-fluid">
  <div class="row-fluid">
      <div class="span2">
          @form(routes.Places.index(section.id)) {
          <button type="submit" class="btn btn-primary btn-medium courceCellButton">Столы</button>
          }
      </div>
      <div class="span4">
          <br/><br/>
      </div>
    <div class="span9">
	@form(routes.Sections.updateSection(section.id)){
        <input type="text" name="title" value="@section.title"/>
        <textarea name="description">@section.description</textarea>
<!--        <input id="startDate" type="text" class="datepicker" name="start_time" value="@section.start_time.format("dd/MM/yyyy HH:mm")">
        <input id="endDate" type="text" class="datepicker" name="end_time" value="@section.end_time.format("dd/MM/yyyy HH:mm")">-->
        <input type="submit" value="Сохранить"/>
        <input type="submit" value="Удалить"/>
    }
    </div>
      <div class="span4">
          <br/><br/>
      </div>
    <div class="span2">
        @form(routes.Sections.index(section.restaurant.id)) {
            <button type="submit" class="btn btn-primary btn-medium courceCellButton">Назад</button>
        }
    </div>
  </div>
  </div>
}