@(admin:User,userForm:Form[User])

@import helper._
@main(admin){
    <fieldset>
        <legend>Новый сотрудник</legend>
        <div class="createForm">
            @form(routes.Users.newUser()){

            <p>
                <input type="text" name="name" placeholder="Название"  />
            </p>
            <p>
                <input type="email" name="email" placeholder="Email"  />
            </p>
            <p>
                <input type="password" name="password" placeholder="Password"/>
            </p>
            <p>
                <input type="password" name="password2" placeholder="Confirm password"/>
            </p>
                <p><button class="btn btn-primary" type="submit">Создать</button></p>
            }
            @form(routes.AdminPanel.index()){
            <button class="btn btn-primary" type="submit">Назад</button>
            </p>
            }
        </div>
    </fieldset>
}