@(admin:User,emp:User,roles:List[Role])

@import helper._
@main(admin) {
    <div class="container-fluid">
      <div class="row-fluid">
          <p>@emp.email</p>
        <div class="span9">
            @form(routes.Users.updateUser(emp.email)) {

            <p>
                <input type="text" name="name" placeholder="Название" value="@emp.name" />
            </p>

            <p>
                <input type="password" name="password" placeholder="Password"/>
            </p>
            <p>
                <input type="password" name="password2" placeholder="Confirm password"/>
            </p>
            <p>
                <select  name="role_id">
                    @for(role<-roles){
                    @if(emp.role.id==role.id){
                    <option value="@role.id" selected="selected">@role.title</option>
                    }else{
                    <option value="@role.id">@role.title</option>
                    }
                    }
                </select>

            </p>

                <input type="submit" value="Сохранить"/>
            }
        </div>

      </div>
    </div>
}