@(user:User,section:RestaurantSection)

@import helper._
@main(user){
<fieldset>
    <legend>Добавить место</legend>
    <div class="createForm">
        @form(routes.Places.newPlace(section.id)){
        <p>
            <input type="text" name="title" placeholder="Название">

            <textarea rows="10" cols="30" class="ckeditor" name="description" placeholder="Описание"></textarea>
        </p>
        <p>
            <input id="startDate" type="text" class="datepicker" name="start_time">

            <input id="endDate" type="text" class="datepicker" name="end_time">
        </p>

            <button class="btn btn-primary" type="submit">Добавить</button>

        }
        @form(routes.Places.index(section.id)){
        <button class="btn btn-primary" type="submit">Назад</button>
        }
    </div>

</fieldset>
        }