@(user:User,section:RestaurantSection,places:List[Place],placesForm:Form[Place])

@import helper._
@main(null){
    <div class="contentBar">
    <div class="announcements">
        @if(places.size()>0){
            <h3>Столы</h3>

            @for(place<-places){
                <div class="span10">
             <span class="span2">
                 <h4><span class="placesDescriptionTitle item">@place.getTitle()</h4>
             </span>

              <span class="span10">
                        @if(place.getDescription()!=null){
                            @Html(place.getDescription())
                        }
                    </span>

              <span class="span">
                    @form(routes.Places.placePage(place.getId())) {
                        <button type="submit" class="btn btn-primary btn-medium courceCellButton">Изменить</button>
                    }
                    </span>
    </div>
            }

        }
        <div class="span4">
            <br/><br/>
        </div>
        <div class="span4">
            @form(routes.Places.addingPlacePage(section.id)) {
            <button type="submit" class="btn btn-primary btn-medium courceCellButton">Добавить</button>
            }
        @form(routes.Sections.sectionPage(section.id)) {
            <button type="submit" class="btn btn-primary btn-medium courceCellButton">Назад</button>
        }
        </div>
    </div>
    </div>
}