@(user:User,restaurant:Restaurant,serviceForm:Form[Service])

@import helper._
@main(user){
    <fieldset>
        <legend>Новый сервис</legend>
        <div class="createForm">
            @form(routes.Services.newService(restaurant.id)){
                <p><input type="text" name="title" placeholder="Название"></p>
                <p><textarea rows="10" cols="30" class="ckeditor" name="description" placeholder="Описание"></textarea></p>
                <button class="btn btn-primary" type="submit">Создать</button>
            }

            @form(routes.Services.index(restaurant.id)){
                <button class="btn btn-primary" type="submit">Назад</button>
            }
        </div>
    </fieldset>
}