@(user:User,supplier:Supplier)


@import helper._
@main(null){
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
     
    </div>
    <div class="span9">
	@form(routes.Suppliers.updateSupplier(supplier.id)){
<p>
    <input type="text" name="title" value="@supplier.title"/>
    <textarea name="description">@supplier.description</textarea>
</p>
<p>
    <input id="startDate" type="text" class="datepicker" name="start_time" value="@supplier.start_time.format("dd/MM/yyyy HH:mm")">
    <input id="endDate" type="text" class="datepicker" name="end_time" value="@supplier.end_time.format("dd/MM/yyyy HH:mm")">
</p>
<input type="submit" value="Сохранить"/>
}
        @form(routes.Suppliers.index()) {
        <button type="submit" class="btn btn-primary btn-medium courceCellButton">Назад к поставщикам</button>
        }
</div>
<div class="span2">

							</div>
</div>
</div>

}
