@(user:User,restaurant:Restaurant,kitchenForm:Form[Kitchen])

@import helper._
@main(null){
    <fieldset>
        <legend>Новая кухня</legend>
        <div class="createForm">
            @form(routes.Kitchens.newKitchen(restaurant.id)){
                <p><input type="text" name="title" placeholder="Name"></p>
                <p><textarea rows="10" cols="30" class="ckeditor" name="description" placeholder="Description"></textarea></p>
                <p><button class="btn btn-primary" type="submit">Создать</button></p>
            }

            @form(routes.Kitchens.index(restaurant.id)){
                <p><button class="btn btn-primary" type="submit">Назад</button></p>
            }
        </div>
    </fieldset>
}